# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android bug reports and dumps
bugreport-*.zip
dumpstate-*.log
dumpsys-*.txt

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Custom native module build artifacts
modules/*/android/build/
modules/*/ios/build/
modules/*/*/build/

# Kotlin compilation cache
*.tab
*.len
*.at
*.bin

*.swp
